<div class="row">
    <div [formGroup]="formCtrl" class="col s10 m10 l10 offset-m1 offset-l1">
        <!--TITULO Y BOTON-->
        <div class="row">
            <div class="col s6 m6 l6">
                <p class="tituloOP">{{ txt.tituloUsuario }}</p>
            </div>
            <div [ctrlAcceso]="path.CREAR_USUARIO.permiso" class="col s6 m6 l6 derecha">
                <button (click)="crearNuevoUsuario()" title="Crear Usuario" class="btn waves-effect waves-teal mybtn" type="button" name="action">{{txt.buttonUsuario}}</button>
            </div>
        </div>
        <!--BUSCADOR-->
        <div class="row">
            <div class="col s12 m5 l5">
                <div style="margin-top: 0;" class="input-field">
                    <span id="mensajeId" class="mensajeFocusOut">{{txt.mensajeAccion}}</span>
                    <input (keypress)="buscarAccion($event)" placeholder="Buscar usuario... Ej.: Carlos Spaini" (focus)="focusEvent('mensajeId','mensajeFocusIn','mensajeFocusOut')" (blur)="blurEvent('mensajeId','mensajeFocusOut','mensajeFocusIn')" data-length="30" maxlength="30"
                        style="height: 2rem;" formControlName="buscador" id="buscador_id" type="text">
                    <span title="Limpiar Filtro" style="cursor: pointer; font-size: 12px; font-weight: 600;" *ngIf="filtroActivo" (click)="limpiarFiltro()">Limpiar</span>
                </div>
            </div>
            <div style="margin-top: 2%;" class="col s12 m7 l7 derecha">
                <span class="registros">Cant. Registros: {{cantActualUsuario}} de {{totalUsuario}}</span>
            </div>
        </div>
        <!--USUARIOS-->
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="row">
                    <div *ngFor="let op of arrayUsuario | paginate: {id: 'lstUsuarios',
                        itemsPerPage: pagination.pageSize,
                        currentPage: pagination.page,
                        totalItems: arrayUsuario.length
                      }" class="col s12 m3 l3">
                        <div class="card bordeado">
                            <div class="card-image">
                                <img class="classImage" src="assets/img/ejemplo.jpeg" alt="">
                            </div>
                            <div class="card-content centrado">
                                <p>{{op.nombre + " "+op.apellido}}</p>
                            </div>
                            <div class="card-action">
                                <span (click)="verAction()" class="accioncss">{{ txt.verUsuario }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <pagination-controls id="lstUsuarios" (pageChange)="cambioPagina($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>